<ion-view view-title="Nuevo Mensaje">
  <ion-content>
    <div class="list padding">
	  <label class="item item-input">
    <input ng-model="message.user"type="text" placeholder="De farthe de..">
  </label>
	
	</label>
	  <label class="item">
    <textarea ng-model="message.mainMessage" placeholder="Mensaje a Tutti"></textarea>
 </label>
	</div>
	
	  <div class="list card">

  <div class="item item-avatar tutti-color">
    <img src="../img/salchi(16).jpg">
    <h2>Lula Maria</h2>
    <p>{{message.timeString}}</p>
  </div>

  <div class="item item-body tutti-color-light">  
	  <p><b>{{message.user}}</b> tthhe manda a deciiiir:</p>
	  <p><span class="assertive">"{{message.mainMessage}}"</span></p>
	  <img ng-click="cardsModal.show()" class="half-image-dash" ng-src="{{hS.mainImg}}">
	  <input type="file" accept="image/*;capture=camera">
	 
  </div>
	
 </div>
	  
	     
	
	  <div class="padding">
		  <div class="row" ng-if="!isLulified">
	  	<button class="col button button-block button-positive" ng-click="lulify()" ng-disabled="!message.user || !message.mainMessage" >
	  	Lulificar
			  </button>
		  </div>
		  
		  <div class="row" ng-if="isLulified">
			  <button class="col button button-block button-stable" ng-click="clear()" ng-disabled="!message.user || !message.mainMessage" >
				Borrar
				</button>
			  <button class="col-75 button button-block button-royal" ng-click="send()" ng-disabled="!message.user || !message.mainMessage" >
				Enviarrrr
				</button>
			   
		  </div>
		  
	  </div>

  </ion-content>
</ion-view>