<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-royal">


  <!-- Dashboard Tab -->
  <ion-tab title="Nuevo mensaje" icon-off="ion-compose" icon-on="ion-compose" href="#/tab/compose">
    <ion-nav-view name="tab-compose"></ion-nav-view>
  </ion-tab>


  <!-- Chats Tab -->
  <ion-tab title="La Fared de Lula" icon-off="dog-icon" icon-on="dog-icon" href="#/tab/wall">
    <ion-nav-view name="tab-wall"></ion-nav-view>
  </ion-tab>





</ion-tabs>
